@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    background-color: #eee;
  }
}

/* https://cf.shopee.vn/file/b62471ec58d6d7973ccd6e255b90c33c */
.color {
  background: linear-gradient(-180deg, #f53d2d, #f63);
}
.one {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}
.slick-prev:before,
.slick-next:before {
  color: red !important;
}
.for {
  background: rgba(255, 212, 36, 0.9);
}
